/* استایل‌های عمومی */
body {
    margin: 0;
    padding: 0;
    font-family: 'Tahoma', sans-serif;
    background: #000000; /* پس‌زمینه مشکی */
    overflow: hidden;
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff; /* رنگ متن سفید */
}

/* نوشته پس‌زمینه */
.background-text {
    font-size: 30px; /* اندازه متن رو کوچیکتر می‌کنیم */
    position: absolute;
    color: rgba(255, 255, 255, 0.2); /* رنگ روشن‌تر برای متن */
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.background-text:hover {
    cursor: pointer;
}

/* استایل برای بخش جدید */
.music-container {
    z-index: 1;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* عنوان بخش دانلود */
.music-container h1 {
    margin-bottom: 20px;
    color: #333;
}

/* دکمه دانلود ریسورس پک */
.music-container .download {
    margin: 10px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

.music-container .download:hover {
    background-color: #45a049;
}

/* نمایش پیام */
.message {
    display: none;
    font-size: 18px;
    color: #ff5733;
    margin-top: 20px;
}

/* افکت موس */
.background-text:hover {
    animation: moveText 1s forwards;
}

@keyframes moveText {
    0% {
        top: 50%;
        left: 50%;
    }
    100% {
        top: calc(50% - 50px);
        left: calc(50% + 50px);
    }
}
